<script type="">

  // ck editor configure
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });

  //Javascript to toggle the menu
    document.getElementById('nav-toggle').onclick = function () {
        document.getElementById("nav-content").classList.toggle("hidden");
    }

    // hide the error message after 5s
    setTimeout(function() {
        document.getElementById("errorMessage").style.display = "none";
    }, 7000); 

    // hide the success message after 5s
    setTimeout(function() {
        document.getElementById("successMessage").style.display = "none";
    }, 7000); 

</script>

</body>

</html>