<script type="">

    // ck editor configure
    ClassicEditor
        .create(document.querySelector('#editor'))
        .catch(error => {
            console.error(error);
        });

  //Javascript to toggle the menu
    document.getElementById('nav-toggle').onclick = function () {
        document.getElementById("nav-content").classList.toggle("hidden");
    }

    // hide the error message after 5s
    setTimeout(function() {
        document.getElementById("errorMessage").style.display = "none";
    }, 7000); 

    // hide the success message after 5s
    setTimeout(function() {
        document.getElementById("successMessage").style.display = "none";
    }, 7000); 

    async function deleteCategory(id) {
                const confirmDelete = window.confirm('Are you sure you want to delete this category?');

                if (confirmDelete) {
                    try {
                        const response = await fetch(`<%=url%>/api/v1/category/delete/${id}`, {
                            method: 'POST'
                        });

                        if (response.ok) {
                            alert('Category deleted successfully.');
                            location.reload(); // Optional: Update the UI without reloading the page
                        } else {
                            const errorMessage = await response.text();
                            alert(`Failed to delete category. Error: ${errorMessage}`);
                        }
                    } catch (error) {
                        console.error('Error deleting category:', error.message);
                        alert('Failed to delete category. Please try again.');
                    }
                } else {
                    alert('Deletion canceled.');
                }
            }

    async function deleteBlog(id) {
                const confirmDelete = window.confirm('Are you sure you want to delete this blog?');

                if (confirmDelete) {
                    try {
                        const response = await fetch(`<%=url%>/api/v1/blog/delete/${id}`, {
                            method: 'POST'
                        });

                        if (response.ok) {
                            alert('Blog deleted successfully.');
                            location.reload(); // Optional: Update the UI without reloading the page
                        } else {
                            const errorMessage = await response.text();
                            alert(`Failed to delete blog. Error: ${errorMessage}`);
                        }
                    } catch (error) {
                        console.error('Error deleting blog:', error.message);
                        alert('Failed to delete blog. Please try again.');
                    }
                } else {
                    alert('Deletion canceled.');
                }
            }
</script>

</body>

</html>