<%- include('../header.ejs') -%>

    <%- include('../navbar.ejs') -%>

        <div class="container mt-8 md:mt-24">
            <div class="px-8 py-6 bg-white rounded-md shadow-sm ">

                <div class="flex justify-between w-full my-3">
                    <p class="ml-3 text-[22px] text-slate-500">Blogs Table</p>

                    <a href="/blog/add" class="bg-primary px-3 py-1 text-white rounded-md">Add Blog</a>
                </div>

                <hr />

            </div>
        </div>

        <%- include('../footer.ejs') -%>