/* tailwind styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define styles */
.container {
    @apply 3xl:px-[375px] xll:px-[135px] lg:px-[80px] md:px-[40px] px-[20px] mx-auto max-w-full;
}

.f-center {
    @apply flex justify-center items-center;
}

.trans {
    @apply transition ease-in-out duration-300;
}

thead tr th:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

thead tr th:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

tbody tr td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 0px;
}

tbody tr td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 0px;
}

/* Hide the image upload button */
/* .ck-file-dialog-button {
    display: none !important;
} */